.Row ul li{
    list-style-type: none;
}
.Row ul{
    margin: 0;
    padding: 0;
}
.Detail {
    width: 300px;
    background-color: black;
    border: 9px solid #d90909;
    color: white;
    margin: 15px auto;
    padding: 15px;
}
ul li::first-letter {
    text-transform: uppercase;
}
.Stats::first-letter {
    text-transform: uppercase;
}
.Name::first-letter {
    text-transform: uppercase;
}

progress {
  text-align: center;
  -webkit-appearance: none;
  border: none;
  color: black;
  /* Set the progressbar to relative */
  position:relative;
}
progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  vertical-align: 0;
  
  /*Position text over the progress bar */
  position:absolute;
  left:0;
  right:0;
}
/* progress::-webkit-progress-bar {
  background-color: #c9c9c9;
}
progress::-webkit-progress-value {
  background-color: #7cc4ff;
}
progress::-moz-progress-bar {
  background-color: #7cc4ff;
} */

.progress-best::-webkit-progress-value{
  background-color: #0078d7;
}
.progress-full::-webkit-progress-value{
  background-color: #4acf4a;
}
.progress-alert::-webkit-progress-value{
  background-color: #dddd2e;
}
.progress-danger::-webkit-progress-value{
  background-color: #d53939;
}
body{
  font-family: math;
  background-image: url('../../assets/images/pokebola.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
p {
  margin: 0;
  padding: 4px 0px;
}
p strong{
  font-family: fantasy;
  font-weight: normal;
}
.Rotate{
  background-color: transparent;
  border: 0px;
  cursor:pointer;
}