.Pokemon::first-letter {
    text-transform: uppercase;
}
ul li{
    list-style-type: none;
}
.Row ul{
    margin: 0;
    padding: 0;
}
.Pokemon ul li ul{
    margin: 0;
    padding: 0;
}
.Card{
    width: 200px;
    height: 150;
    padding-top: 15px;
    border: 1px solid #cecccc;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

a:link{
    line-height: 3rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
    color: black;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    line-height: 3rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
    color: black; 
}
.Pokemon {
    float: left;
}


@media only screen and (max-width: 400px){
    .UlMedia{
        padding: 2px !important;
    }
    .Card {
        width: 170px;
    }
    .container {
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
    }
}
