.PreviousNext{
    position: relative;
    top: 50px;
    width: 100%;
    display: flow-root;
}
.PrevNextBtn{
    background-color: red;
    border-radius: 30px;
    padding: 0px 20px;
    margin-left: 10px;
    border: 0px;
    color: white;
    cursor: pointer;
    font-size: 3em;
}